/* 1) Подключаем Manrope из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 2) Tailwind и Swiper */
@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';

:root {
  --strokelight: #e9e9e9;
  --background: #fdfdfd;
}

/* 3) Переопределяем CSS-переменные, в том числе шрифты */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* теперь --font-sans — это Manrope */
  --font-sans: 'Manrope', sans-serif;
  --font-mono: var(--font-geist-mono);
}

/*  */

body {
  background: var(--background);
  color: var(--foreground);
  /* используем нашу CSS-переменную */
  font-family: var(--font-sans);
}
